@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$colors: (
  black: #333,
  white: #fff,
  light-grey: #a2a2a2,
  grey: #8892b0,
  dark-grey: #495670,
  golden: #e2c78c,
  light-tone: #112240,
  tone: #0a192f,
);

$shadows: (
  default: 0 0 17px rgba(255, 255, 255, 0.5),
  player-wins: 0 0 20px rgba(226, 199, 140, 1),
  ai-wins: 0 0 20px rgba(51, 204, 51, 1),
);

$border-radius: 5px;

@mixin button-style {
  padding: 0.2em auto;
  font-size: 1.2rem;
  color: map-get($colors, white);
  background-color: map-get($colors, dark-grey);
  border-radius: $border-radius;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out,
    opacity 0.25s ease-in-out 0.1s;

  @media (hover: hover) {
    &:hover {
      color: map-get($colors, dark-grey);
      background-color: map-get($colors, golden);
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  width: 100vw;
  max-width: 1850px;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: map-get($colors, tone);
  color: map-get($colors, grey);
  font: normal 1.2rem/2 "Roboto", sans-serif;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.faded {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.transition-opacity {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1;
}

.collapsible-container {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  width: 100%;

  &.expanded {
    max-height: 100px;
  }
}

.game-board-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.selected {
  outline: 1px solid map-get($colors, golden);
  outline-offset: -2px;
  pointer-events: unset;
}

.game {
  margin: 0.2em auto 0;
  padding: 10px 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  width: 100%;
  min-width: fit-content;
  max-width: 100vw;

  .game-board {
    width: 180px;
    height: 180px;
  }
}

.game-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  min-width: 200px;
  width: 240px;
  max-width: 80vw;
}

.game-mode,
.level-selection,
.player-selection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 3px;

  button {
    flex: 1;
    @include button-style;
  }
}

.mode-button,
.player-button,
.level-button {
  @include button-style;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin: 1.3em auto;
  color: map-get($colors, white);
  background-color: map-get($colors, black);
  border: 6px solid map-get($colors, black);
  border-radius: $border-radius;
  box-shadow: map-get($shadows, default);
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.square {
  padding: 0;
  background: transparent;
  color: map-get($colors, white);
  font-size: clamp(16px, 3.5vw, 24px);
  font-weight: bold;
  border: 1px solid map-get($colors, grey);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.5s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: map-get($colors, grey);
      transform: scale(0.98);
    }
  }
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.winner {
  font-size: clamp(1.6rem, 3vw, 2rem);
  text-align: center;
}

.ai-wins {
  box-shadow: map-get($shadows, ai-wins);
}

.player-wins {
  box-shadow: map-get($shadows, player-wins);
}

.restart {
  @include button-style;
  padding: 0.1em 0.8em;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}

@media (max-height: 450px) and (orientation: landscape) {
  .game {
    gap: 1em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 550px;

    .game-board {
      width: 160px;
      height: 160px;
    }
  }

  .game-control {
    gap: 1.2em;
    width: 100%;
    max-width: 240px;
  }

  .square {
    font-size: clamp(14px, 3vw, 18px);
  }

  .game-result {
    gap: 0.2em;
  }

  .winner,
  .restart {
    padding: 0.2em 0.8em;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .restart {
    line-height: 1.2;
  }
}
